## Both ##

# We want to clone the individual packages into this source directory.
# But we don't want the packages to be uploaded into the uavrt_source repo.
/uavrt_interfaces
/uavrt_supervisor
/uavrt_connection
/uavrt_detection
/portairspy_channelize
/portairspy_decimate

# Log files
# No need to upload flight log files.
/log/flight_log_*

### macOS ###

# General
.DS_Store
